# Nama workflow yang akan tampil di tab Actions
name: Daily Data Update

# Menentukan kapan workflow ini akan dijalankan
on:
  schedule:
    - cron: '*/10 * * * *' # UJI COBA: Jalankan setiap 10 menit
  
  workflow_dispatch:

# Pekerjaan yang akan dijalankan
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip' # Menambahkan cache

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run scraping script
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
        run: python update_data.py
